<div class="contenedorPrincipal">
    <form (ngSubmit)="actualizarAlumno()">
        <h2>Editar Alumno</h2>
        <br>
        <br>
        <div>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" [(ngModel)]="alumno.nombre" name="nombre" class="inputNomral">
        </div>
        <br>
        <br>
        <div>
            <label for="paterno">Paterno:</label><br>
            <input type="text" id="paterno" [(ngModel)]="alumno.paterno" name="paterno" class="inputNomral">
        </div>
        <br>
        <br>
        <div>
            <label for="materno">Materno:</label><br>
            <input type="text" id="materno" [(ngModel)]="alumno.materno" name="materno"class="inputNomral">
        </div>
        <br>
        <br>
        <div>
            <label for="email">Email:</label><br>
            <input type="email" id="email" [(ngModel)]="alumno.email" name="email" class="inputNomral">
        </div>
        <br>
        <br>
        
        <button pButton pRipple label="Actualizar" class="p-button-success">
        </button>
    </form>
</div>