.contenedorPrincipal{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; 
    height: 100%;
    width: 100%;
}

.inputNomral{
    width: 400px;
    height: 40px;
}